@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.bg {
  width: 100%;
  height: 100%;

  /* CSS Smooth Scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;

  /* Scroll Snap */
  scroll-snap-align: center;
}

.landing-subtitle {
  font-style: var(--font-courier-prime);
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #020103;
  height: 100vh;
  overflow: hidden;
}

.glass{
  background-color: rgba(0, 0, 0, 0.15);
  /* background-color: rgba(255, 255, 255, .15);   */
  backdrop-filter: blur(10px);
  margin: 0 8px;
}

.glass-gray{
  background-color: rgb(31 41 55 / 0.35);
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.glass-gray:hover {
  background-color: rgb(31 41 55 / 0.5);
  color: #fff;
  backdrop-filter: blur(10px);
}

.glass-gray-box{
  background-color: rgba(23, 28, 38, 0.35);
  border: 1px solid rgba(55, 65, 81, 0.7);

  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.glass-gray-box:hover {
  background-color: rgba(23, 28, 38, 0.55);
  color: #fff;
  backdrop-filter: blur(10px);
}


.experienceSection {
  position: relative;
  background-size: cover;
}

.gradient-top-left {
  /* background: radial-gradient(circle at top left, #7637db 0%, transparent 35%, transparent 50%); */
  background: radial-gradient(circle at top left, rgba(118, 55, 219, 0.6) 0%, transparent 60%, transparent 80%);
}

.gradient-top-right {
  background: radial-gradient(circle at top right, #7637db 0%, transparent 50%, transparent 70%);
}

.gradient-top-right {
  background: radial-gradient(circle at top right, rgba(118, 55, 219, 0.6) 0%, transparent 50%, transparent 70%);
}

.gradient-bottom-left {
  /* background: radial-gradient(circle at bottom left, #7637db 0%, transparent 35%, transparent 50%); */
  background: radial-gradient(circle at bottom left, rgba(118, 55, 219, 0.6) 0%, transparent 60%, transparent 80%);
}

.gradient-bottom-right {
  /* background: radial-gradient(circle at bottom right, rgba(118, 55, 219, 0.6) 0%, transparent 50%, transparent 70%); */
  background: radial-gradient(circle at bottom right, rgba(118, 55, 219, 0.6) 0%, transparent 50%, transparent 70%);
}

.experienceSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Black background with 60% opacity */
  z-index: -1;
}

.learnContent {
  position: relative;
  z-index: 2;
}


#events {
  overflow: hidden;
}

.responsive-iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%; 
  /* padding-bottom: 56.25%;  */
  overflow: hidden;
  /* max-height: 200px !important; */
  /* max-height: 500px;  */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  html {
    scroll-behavior: smooth !important;
    /* font-family: 'Inter', system-ui, sans-serif; */
  }
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
